/* ========== LAYOUT ========== */

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  justify-content: center;
  margin: 0 -15px;
}

[class*="col-xs-"] {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0 15px;
}

.col-xs-12 {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  [class*="col-sm-"] {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 992px) {
  [class*="col-md-"] {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .col-md-4 {
    flex-basis: 33.33%;
  }
}

@media screen and (min-width: 1200px) {
  [class*="col-lg-"] {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  transition: none;
  flex: 1 0 100%;
}

@media screen and (min-width: 768px) {
  .main-container {
    flex-flow: row nowrap;
  }
}

/* ========== COMMON ========== */

* {
  font-family: 'AvenirNextBold';
  transition: all 0.3s ease;
}

body {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

/* ========== SIDEBAR ========== */

.sidebar {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: center;
  background: #0e0e0e;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 0 0 327px;
    justify-content: center;
    align-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    flex: 0 0 414px;
  }
}

  /* ========== Logo ========== */

  .logo {
    display: block;
    margin: 6px;
  }

  @media screen and (min-width: 768px) {
    .logo {
      margin: 30px;
    }
  }

  .logo img {
    object-fit: contain;
    box-sizing: border-box;
    padding: 10px;
    width: 52px;
  }

  @media screen and (min-width: 768px) {
    .logo img {
      padding: 10px;
      width: 94px;
    }
  }

  .logo:hover {
    opacity: 0.8;
  }

  /* ========== Search Form ========== */

  .search-form {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .search-form {
      display: block;
      width: 100%;
      padding: 0 23px;
    }
  }

  .search-form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px 10px 56px;
    background: #0e0e0e url('../img/search-icon.svg') no-repeat 14px 7px;
    border: none;
    border-bottom: 4px solid #373737;
    color: #fff;
    font-size: 24px;
  }

  .search-form-input:hover {
    border-bottom: 4px solid #444;
  }

  .search-form-input:focus {
    outline: none;
    border-bottom: 4px solid #fff;
  }

  .search-input-label {
    display: none;
  }

  /* ========== Left Navigation ========== */

  .catalog-categories {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .catalog-categories {
      display: block;
      text-align: center;
      font-size: 24px;
      align-items: center;
      margin-top: 150px;
    }
  }

  .catalog-categories a {
    margin-bottom: 30px;
    color: #3c3c3c;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .catalog-categories .opened,
  .catalog-categories a:hover,
  .catalog-categories .current {
    color: #fff;
  }

  .catalog-categories .has-submenu:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid #fff;
    border-left: none;
    border-top: none;
    border-radius: 3px;
    transform: rotate(45deg);
    margin-left: 12px;
    transition-duration: 0.2s;
  }

  .catalog-categories .has-submenu.opened:hover:after {
    transform: rotate(225deg);
  }

  .catalog-subcategories {
    margin: -15px 0 50px 0;
  }

  .catalog-subcategories a {
    font-family: 'AndaleMono';
    margin-bottom: 25px;
  }

/* ========== CATALOG ========== */

.catalog {
  flex: 1;
}

.catalog > h2 {
  display: none;
}

  /* ========== Filters ========== */

  .catalog-filters {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    padding: 11px 24px;
    border-bottom: 3px solid #e7e7e7;
  }

  @media screen and (min-width: 768px) {
    .catalog-filters {
      flex-flow: row nowrap;
    }
  }

  .filter-button,
  .catalog-filters .filter-heading {
    border: none;
    background: none;
    font-size: 24px;
    color: #d6d6d6;
    text-transform: uppercase;
  }

  .filter-button {
    padding: 0 3px;
    cursor: pointer;
  }

  .filter-button:hover,
  .filter-button.current,
  .catalog-filters .filter-heading {
    color: #4d42f8;
  }

  .catalog-filters .filter-heading {
    padding-right: 18px;
  }

  .filter-button.men {
    padding: 0 10px 0 0;
  }

  .filters-icon {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .filters-icon {
      display: block;
      background: #ebebeb url('../img/filter.png') no-repeat 50% 50%;
      box-sizing: border-box;
      padding: 11px 8px;
      width: 55px;
      height: 55px;
      margin-right: 30px;
    }
  }

  .filter-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    padding: 0;
    margin: 5px 0;
  }

  .catalog-filters .filter-container:last-child {
    padding-right: 0;
  }

  @media screen and (min-width: 768px) {
    .filter-container {
      padding-right: 50px;
    }
  }

  /* ========== Items ========== */

  .catalog-grid {
    padding: 22px 24px;
  }

  .catalog-item {
    display: flex;
    flex-flow: column nowrap;
    background: #f4f4f4;
    padding: 9px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 24px;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  .item-image {
    width: 100%;
  }

  .item-image-link {
    padding: 0;
    margin: 0;
    font-size: 0;
  }

  .item-link {
    display: block;
    font-size: 30px;
    color: #000;
    text-decoration: none;
    padding: 23px 0 27px 0;
    transition: none;
    background: #fff;
    margin-top: 6px;
  }

  .item-link:hover,
  .catalog-item.sale .item-link {
    background-image: linear-gradient(107deg, #0c09bf, #966dd8);
    color: #fff;
  }

  .catalog-item.sale .item-link:hover {
    background-image: linear-gradient(180deg, #0c09bf, #966dd8);
  }

  .sale-label {
    display: none;
    position: absolute;
    top: 17px;
    right: 17px;
    padding: 7px 20px;
    background: #ff5c5c;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
  }

  .catalog-item.sale .sale-label {
    display: block;
  }

  .catalog-item:hover .sale-label {
    transform: translate(-5px, 5px);
  }
