/* ========== FONTS ========== */

@font-face {
  font-family: 'AndaleMono';
  src: url('../fonts/Andale-Mono.woff') format('woff'),
       url('../fonts/Andale-Mono.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../fonts/avenir-next-bold.eot');
  src: url('../fonts/avenir-next-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-next-bold.woff') format('woff'),
       url('../fonts/avenir-next-bold.ttf') format('truetype'),
       url('../fonts/avenir-next-bold.svg') format('svg');
}

@font-face {
  font-family: 'AvenirNextReg';
  src: url('../fonts/avenir-next-regular.eot');
  src: url('../fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/avenir-next-regular.woff') format('woff'),
       url('../fonts/avenir-next-regular.svg') format('svg');
}

/* ========== LAYOUT ========== */

.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  transition: none;
}

@media screen and (min-width: 768px) {
  .container {
    flex-flow: row nowrap;
  }
}

/* ========== COMMON ========== */

* {
  font-family: 'AvenirNextBold';
  transition: all 0.3s ease;
}

body {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    flex-flow: row nowrap;
  }
}

button:focus {
  outline: none;
}

.only-desktop-line-break {
  display: none;
}

@media screen and (min-width: 768px) {
  .only-desktop-line-break {
    display: inline;
  }
}

/* ========== SIDEBAR ========== */

.sidebar {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: center;
  background: #0e0e0e;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex: 0 0 327px;
    justify-content: center;
    align-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    flex: 0 0 414px;
  }
}

  /* ========== Logo ========== */

  .logo {
    display: block;
    margin: 6px;
  }

  @media screen and (min-width: 768px) {
    .logo {
      margin: 30px;
    }
  }

  .logo img {
    object-fit: contain;
    box-sizing: border-box;
    padding: 10px;
    width: 52px;
  }

  @media screen and (min-width: 768px) {
    .logo img {
      padding: 10px;
      width: 94px;
    }
  }

  .logo:hover {
    opacity: 0.8;
  }

  /* ========== Search Form ========== */

  .search-form {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .search-form {
      display: block;
      width: 100%;
      padding: 0 23px;
    }
  }

  .search-form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px 10px 56px;
    background: #0e0e0e url('../img/search-icon.svg') no-repeat 14px 7px;
    border: none;
    border-bottom: 4px solid #373737;
    color: #fff;
    font-size: 24px;
  }

  .search-form-input:hover {
    border-bottom: 4px solid #444;
  }

  .search-form-input:focus {
    outline: none;
    border-bottom: 4px solid #fff;
  }

  .search-input-label {
    display: none;
  }

  /* ========== Left Navigation ========== */

  .catalog-categories {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .catalog-categories {
      display: block;
      text-align: center;
      font-size: 24px;
      align-items: center;
      margin-top: 150px;
    }
  }

  .catalog-categories a {
    margin-bottom: 30px;
    color: #3c3c3c;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .catalog-categories .opened,
  .catalog-categories a:hover,
  .catalog-categories .current {
    color: #fff;
  }

  .catalog-categories .has-submenu:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid #fff;
    border-left: none;
    border-top: none;
    border-radius: 3px;
    transform: rotate(45deg);
    margin-left: 12px;
    transition-duration: 0.2s;
  }

  .catalog-categories .has-submenu.opened:hover:after {
    transform: rotate(225deg);
  }

  .catalog-subcategories {
    margin: -15px 0 50px 0;
  }

  .catalog-subcategories a {
    font-family: 'AndaleMono';
    margin-bottom: 25px;
  }

/* ========== CATALOG ITEM ========== */

.catalog {
  flex: 1;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .catalog {
    margin-bottom: 103px;
  }
}

.product-container {
  padding: 30px 15px;
}

@media screen and (min-width: 768px) {
  .product-container {
    padding: 15px 31px 31px;
  }
}

  /* ========== Item Heading ========== */

  .product-heading {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 10;
    max-height: 100%;
  }

  @media screen and (min-width: 768px) {
    .product-heading {
      flex-flow: row nowrap;
      max-height: 40px;
    }
  }

  .product-heading h1 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    .product-heading h1 {
      font-size: 64px;
    }
  }

  /* ========== Item Heading Title and Save button ========== */

  .product-heading_title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

    .save-button {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .save-button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        width: 75px;
        height: 75px;
        color: #fff;
        background: #e3e3e3;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
      }

      .save-button:hover:after {
        content: '+';
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
      }

      .save-button:hover {
        background: #4d42f8;
      }
    }

  /* ========== Item Heading Color picker and Price ========== */

  .product-heading_price-color-picker {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .product-heading_price-color-picker {
      align-items: flex-end;
      margin-top: 16px;
      width: auto;
    }
  }

    .product-heading_color-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      order: 2;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      .product-heading_color-label {
        order: 1;
        justify-content: flex-end;
        width: auto;
      }
    }

    .product-heading_price-color-picker h2 {
      font-size: 80px;
      padding: 0;
      margin: 0;
      color: #e2e2e2;
      font-weight: 400;
      order: 1;
    }

    @media screen and (min-width: 768px) {
      .product-heading_price-color-picker h2 {
        padding: 10px 0;
        margin: 20px 0;
        order: 2;
      }
    }

    .product-heading_color-picker {
      font-size: 0;
      order: 2;
    }

    @media screen and (min-width: 768px) {
      .product-heading_color-picker {
        order: 1;
      }
    }

    .choose-color-button {
      border: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      background: none;
      margin-left: 13px;
      transition-duration: 0.2s;
    }

    .choose-color-button:hover {
      width: 20px;
      height: 20px;
      margin-left: 12px;
    }

    .choose-color-button:hover + .choose-color-button {
      margin-left: 12px;
    }

    .choose-color-button:hover + .sale-label {
      margin-left: 29px;
    }

    .choose-color-button.gray {
      background: #c5c5c5;
    }

    .choose-color-button.blue {
      background: #4d87ca;
    }

    .choose-color-button.black {
      background: #000;
    }

    .choose-color-button.lightgray {
      background: #e0e0e0;
    }

    .sale-label {
      display: block;
      padding: 7px 20px;
      background: #ff5c5c;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      order: 1;
    }

    .sale-label.static {
      position: static;
    }

    @media screen and (min-width: 768px) {
      .sale-label {
        margin-left: 30px;
        order: 2;
      }
    }

  /* ========== Item Image gallery ========== */

  .product-full-image img {
    display: block;
    width: 100%;
    margin: 0 auto 35px;
  }

  @media screen and (min-width: 768px) {
    .product-full-image img {
      width: 80%;
    }
  }

  .product-image-captions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .product-image-captions {
      justify-content: space-between;
    }
  }

  .product-image-captions img {
    width: 16%;
    box-sizing: border-box;
    outline-color: #fff;
    cursor: pointer;
    margin: 0 5px;
  }

  @media screen and (min-width: 768px) {
    .product-image-captions img {
      margin: 0 14px;
    }
  }

  .product-image-captions img:first-child {
    margin-left: 0;
  }

  .product-image-captions img:hover,
  .product-image-captions .current {
    outline: 5px solid #e8e8ea;
  }

  .product-more-images-label {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .product-more-images-label {
      display: flex;
      flex-flow: column nowrap;
      flex: 0 0 160px;
      justify-content: center;
      height: 120px;
      cursor: pointer;
      margin: 0 14px;
      flex: 1;
    }
  }

  .product-more-images-label span {
    width: 100%;
    background: #e7e7e7;
    height: 3px;
    border-radius: 1.5px;
    position: relative;
  }

  .product-more-images-label span:before,
  .product-more-images-label span:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    background: #e7e7e7;
    height: 3px;
    border-radius: 1.5px;
    transition: inherit;
  }

  .product-more-images-label span:before {
    top: -6px;
  }

  .product-more-images-label span:after {
    top: 3px;
  }

  .product-more-images-label:hover span:before {
    top: -13px;
  }

  .product-more-images-label:hover span:after {
    top: 10px;
  }

  .product-more-images-button {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .product-more-images-button {
      display: block;
      border: none;
      background: none;
      font-family: 'AvenirNextReg';
      color: #c0c0c0;
      font-size: 14px;
      text-align: left;
      cursor: pointer;
      width: 64px;
      flex: 0 1 40px;
    }

    .product-more-images-button:hover {
      color: #6e6e6e;
    }
  }

  /* ========== Item paragraph ========== */

  .adidas-about {
    font-family: 'AvenirNextReg';
    font-weight: 800;
    font-size: 20px;
    line-height: 1.52;
    color: #d8d8d8;
    margin-bottom: 0;
    padding:0;
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) {
    .adidas-about {
      font-size: 33px;
    }
  }

  .adidas-about .first-word {
    font-family: 'AvenirNextReg';
    color: #6e6e6e;
  }

/* ========== Buy button ========== */

.product-buy-now-button {
  width: 100%;
  font-size: 20px;
  color: #fff;
  padding: 23px 0;
  text-align: center;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #4949aa, #27275d);
  transition: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .product-buy-now-button {
    width: calc(100% - 414px);
    font-size: 32px;
    padding: 36px 0;
  }
}

.product-buy-now-button:hover {
  background-image: linear-gradient(to top, #4949aa, #27275d);
}
